# Arquivos gerados pela execução de scripts
node_modules/

# Arquivos de log
logs/
*.log

# Arquivos de ambiente
.env

# Arquivos de build
/build/

# Dependências de desenvolvimento
.dev/

# Arquivos temporários
*.tmp

# Cache e diretórios de compilação
.cache/
dist/
out/
